/*
    MEDIA QUERIES
*/
// DESKTOPS 
@mixin desktops() {
    @media (min-width: 995px) {
        @content;
    }
}
// DESKTOPS-
@mixin desktops-() {
    @media (min-width: 995px) and (min-height: 800px) {
        @content;
    }
}

// SIZE
@mixin size($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}

// DISPLAY
@mixin display($display, $v1: none, $v2: none) {
    @if ($display == grid) {
        display: $display;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            'one'
            'two'
            'three'
        ;
        @include desktops() {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                'one one'
                'two three'
            ;
            @include size(60%, 100%);
        }
    }

    @if ($display == flex) {
        display: $display;
        align-items: $v1;
        justify-content: $v2;
        @content;
    } 

    @if ($display == inline-block) {
        display: $display;
    }
}

// GRID AREA
@mixin grid-area($name) {
    grid-area: $name;
    padding: 2.5rem;
    @include size(100%, 25rem);
    @include desktops() {
        padding: 4rem 3.5rem;
        @include size(100%, auto);
    }
}

// POSITION
@mixin position($position){
    position: $position;
    @content;
}