// FONT
$font: 'Karla', sans-serif;

// COLORS
$dark-cyan: rgb(42, 178, 175);
$light-cyan: rgb(63, 199, 197);
$bright-yellow: rgb(192, 223, 52);
$light-gray: rgb(229, 239, 245);
$grayish-blue: rgb(152, 166, 189);
$white: rgb(255, 255, 255);
$black: rgba(0, 0, 0, .50);