*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-size: 10px;

    body{
        background-color: $light-gray;
        color: $white;
        font-family: $font;        
        padding: 6rem 4rem;
        @include desktops() {
            padding: 8rem 0;
            height: 100vh;
            @include display(flex, center, center);
        }
        @include desktops-() {
            padding: 15rem 0;
        }
    }
}